body {
    width: 100vw;
    background: black url(../images/botw.jpg) fixed center;
    padding: 0;
    margin: 0
}

h5 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* h1 {
    color: #01CCC9;
    display: flex;
    justify-content: center;
    font-weight: bold;
} */

h3 {
    display: flex;
    justify-content: center;
    font-weight: 550;
}

video {
    border-radius: 20px;
}
